<ion-header>
  <ion-toolbar>
    <ion-title>
      Divpizza - início
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-searchbar></ion-searchbar>
   <br/>
   <br/>
   <ion-card>     
     <img src="../assets/pizza1.jpg"/>
   <ion-card-content>
      <ion-card-title>
       Queijo Gourmet
      </ion-card-title>
      <ion-card-subtitle>        
        Queijo desfiado, catupiry,batata palha,
       cogumelos,manjericãoe mais uma colher de caviar.
      </ion-card-subtitle>
       <br/>
       <br/>
       <ion-button color='danger'>
         <ion-icon name='cart' slot='end'>
         </ion-icon>
         Comprar
       </ion-button>   
      </ion-card-content>
   </ion-card>
  </div>
</ion-content>
