ion-content{
    --background:linear-gradient(135deg, yellow,rgba(197, 13, 13, 0.842)); 
}
ion-card{
    --background:white;
}
ion-card-subtitle{
    margin-top: 10px;
}
ion-searchbar{
    --background:;
    
}
